_site/
.sass-cache/
.jekyll-metadata
.bundle
vendor/
/.vs/shell-gh-dev-repo/FileContentIndex/940701e2-b6ef-4905-975e-dbe509d2e6e9.vsidx
/.vs/shell-gh-dev-repo/FileContentIndex/14e03f58-3b14-4a3b-96b3-c412992fa124.vsidx
